{% extends 'base.html.twig' %}
{% block stylessheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
    <h1>Blog</h1>
{% endblock %}